# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyd
*.pyo

# =========================
# Virtual Environments
# =========================
env/
venv/
.venv/
.env/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log
logs/


# =========================
# data
# =========================
data/raw/
!data/github_dataset/
!data/files/